{% extends 'base.html' %}
{% block title %}{{ article.title|striptags }} // {{ super() }}{% endblock title %}

{% block head_css %}
<link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygments.css">
{% endblock %}

{% block head_js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/fitvids/1.0.1/jquery.fitvids.min.js"></script>
<script>
    $(document).ready(function () {
        $(".content").fitVids();
    });
</script>
{% endblock %}

{% block content %}
<div class="uk-section uk-section">
    <div class="uk-container uk-container-small">
        <h2>{{ article.title }}</h2>
        <div uk-grid>
            <div class="uk-width-auto@m uk-align-left">
                <p><a href="/">&larr;Home</a></p>
            </div>
            <div class="uk-width-auto@m uk-align-center">
            </div>
            <div class="uk-width-auto@m uk-align-right">
                <p>Published {{ article.locale_date }} by {{ article.author }}</p>
            </div>
        </div>
    <hr class="uk-divider-icon uk-margin-remove"><br>
    </div>
    <div class="uk-container uk-container-small">
        <p>{{ article.content }}</p>
    </div>
    {% include 'footer.html' %}
</div>
{% endblock  %}