<div class="uk-container uk-container-small">
    <div uk-grid>
        <div class="uk-width-auto@m"></div>
        <div class="uk-width-auto@m uk-align-center">
            <div class="uk-container"><a href="" uk-totop></a></div>
            <p>&copy; {{ SITENAME }} &ndash;
                published with <a href="http://blog.getpelican.com/">Pelican</a>, theme by <a
                    href="https://github.com/djw4/website-theme">djw4</a>
            </p>
        </div>
        <div class="uk-width-auto@m"></div>
    </div>
</div>